<h1> List of Services </h1>

<% Service.all.each do |service| %>
<li><%= link_to f.title, {:action => 'show', :id => f.id} -%></li>
<% end %>
</ul>
         
<p><%= link_to "Add new Appointment", {:action => 'new' }%></p>


        