<h1> List of Services </h1>

<% Service.all.each do |service| %>
    <ul>
    <%= link_to service.name, service_path(service) %>
    </ul>
    <% end %>

          <%= link_to "Book Appointment", new_appointment_path %>

