
  <!DOCTYPE html>
<html>
<head>
  <title>Service List</title>

</head>
<body>
    <div class="navigation">
      
    </div>
 
    <h1><%= @service.name%></h1>
 
    <p>
      <strong>Category:</strong>
      <%= @service.description%>
    </p>

    <p>
      <strong>Category:</strong>
      <%= @service.duration%>
    </p>
 
    <p>
      <strong>Price:</strong>
      <%= @service.cost %>
    </p>
 
    <div class="footer">
      <p>Luxe Spa. Where Wellness Meets Luxury!</p>
    </div>    
</body>
</html>