<h1>Welcome to Luxe Spa</h1>
<h3> Where Luxury meets Wellness </h3>

<p> Luxe Spa was founded in 2018 by sisters Aisha and Anika Christopher. Their mission is to provide creative, cutting edge skilled beauty services to guests in a decadent atmosphere<p>

<p> To explore our services and choose the right experience for you, sign up using the link below<p>

    <%= link_to "Sign Up Here", signup_path%>

<p> Been Here before? Log in below<p>

<%= link_to "Login", login_path%>

<%= link_to "Login with Google", "/auth/google_oauth2" %>
