<div class="container">
  <div class="content">

<h1 class="center brown-text"> Welcome to Luxe Spa</h1>
<h4 class="z-depth-3 @extend center brown-text"> Where Luxury Meets Wellness </h4>

    <img src="https://www.caribbeanandco.com/wp-content/uploads//2014/05/MassageSpaCandlelight_1000px-c2f65e86b4c7fd7b4c1dddf8af11d1b5.jpg" alt="spa pic"/>

<h5 class="center brown-text"> To explore our services and choose the right experience for you sign up or log in.</h5>

