<div class="container">
  <img src="palm leaf.jpg" alt="palm leaf" style="width:100%;">
  <div class="content">

<h1 class="center brown-text"> Welcome to Luxe Spa</h1>
<h4 class="z-depth-3 @extend center brown-text"> Where Luxury Meets Wellness </h4>


<img src="https://img.freepik.com/free-photo/high-angle-view-tropical-palm-leaves-isolated-white-backdrop_23-2147837950.jpg?size=626&ext=jpg" alt="palm leaf pic">

<p> Luxe Spa was founded in 2018 by sisters Aisha and Anika Christopher. Their mission is to provide creative, cutting edge skilled beauty services to guests in a decadent atmosphere<p>

<p> To explore our services and choose the right experience for you, sign up using the link below<p>

    <%= link_to "Sign Up Here", signup_path%>

<p> Been Here before? Log in below<p>

<%= link_to "Login", login_path%>

<%= link_to "Login with Google", "/auth/google_oauth2" %>
