<h2>Upcoming Appointments for <%= current_client.first_name %></h2>
<% if @appointments.blank? %>
<p>There are not any appointments currently in the system.</p>
<% else %>
<p>These are your current appointments in our system</p>

<ul id = "appointments">
   <% @appointments.each do |f| %>
   <li><%= link_to f.title, {:action => 'show', :id => f.id} -%></li>
   <% end %>
</ul>

<% end %>
<p><%= link_to "Add new Appointment", {:action => 'new' }%></p>