<% if current_client %>
    <h2>Upcoming Appointments for <%= current_client.first_name %></h2>
        <% current_client.appointments.each do |appointment| %>
        <li>
        <%= link_to appointment.service.name, appointment_path(appointment) %> 
        </li>
    <% end %>
                
         <%= link_to "Book a New Appointment", new_appointment_path %></a>
                        
    <% end %>