<h1><%= @appointment.title %></h1>

<p>
   <strong>Name: </strong> <%= @appointment.service.name %><br />
   <strong>Date :</strong> <%= @appointment.date.strftime('%a, %b %d, %Y')%><br />
   <strong>Time :</strong> <%= @appointment.time.strftime('%I:%M %p')%><br />
</p>

