<h2 class="brown-text"> Happy to Show You Our Reviews! </h2>

<ul id = "reviews">
<% @reviews.each do |review|%>
    <li><%= link_to review.content, review_path(review) %></li>
<% end %>
</ul>
<br>
<br>
<br>

<a class="waves-effect waves-light btn-small"<%= link_to "Add a New Review", new_review_path%></a>



