<h2 class="brown-text"> Happy to Show You Our Reviews! </h2>

<ul id = "reviews">
<% @reviews.each do |review|%>
    <li>
    <%= review.name %> says <%=review.content %><br>
    <br>
    <br>

    <% end %>
</ul>
<br>

<a class="waves-effect waves-light btn-small"<%= link_to "Add a New Review", new_review_path%></a>


